<div class="content">

    <div class="title">
        <h1>Deseja realmente deletar este livro??</h1>
    </div>

    <form autocomplete="off" >
        <mat-form-field class="form">
            <mat-label>Titulo</mat-label>
            <input matInput [(ngModel)]="livro.titulo" type="text"  name="titulo" disabled/>
        </mat-form-field>

        <mat-form-field class="form">
            <mat-label>Nome do Autor</mat-label>
            <input matInput [(ngModel)]="livro.nomeAutor" type="text"  name="nomeAutor" disabled/>
        </mat-form-field>

        <mat-form-field class="form">
            <mat-label>Texto</mat-label>
            <textarea matInput [(ngModel)]="livro.texto" type="text"  name="texto" disabled></textarea>
        </mat-form-field>


        <div class="buttons">
            <button (click)="delete()" class="mat-elevation-z8" mat-flat-button color="primary">Deletar</button>
            <button class="mat-elevation-z8" mat-flat-button color="warning" (click)="irParaLivros()">Cancelar</button>
        </div>
    </form>

</div>
